# Puerto
PORT=4000

# Mercado Pago (PRODUCCION o TEST)
MP_ACCESS_TOKEN=PEGAR_AQUI

# Base URL pública (obligatorio si usás dominio o ngrok)
# Ej: https://tu-dominio.com  o  https://xxxx.ngrok-free.app
BASE_URL=http://localhost:4000

# WhatsApp (solo números) +598...
SHOP_WHATSAPP=59896786514

# Tipo de cambio fallback (si falla el servicio de FX)
USD_UYU_RATE=40
